.DS_Store
*.aux
*.dvi
*.log
*.out
*.bak
*.blg
*.bbl
*.toc
*.lof
*.lot
*.pdf
chapters/c1/figures/sm-particle-table.pdf
chapters/c2/figures/eft-feyn-diagram.pdf
chapters/c2/figures/two-higgs.pdf
chapters/c2/figures/z-prime-2hdm.pdf
chapters/c2/figures/z-prime.pdf
